body {
    font-family: 'Dosis', sans-serif;
}

.contact-us-figures:first-child {
    margin-top: 10px;
    margin-bottom: 25px;
}

.jumbotron {
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 0px;
}

.fill-width-container {
    padding: 0px;
}

/* Used to make the three simbols in the contact us */

.simbol-contact-us {
    border-radius: 100%;
    width: 85px;
    height: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 30px;
    margin: 0 10px 6px 0;
}

/* Used to make shadows of contents */

.shadowed {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, .1);
}

/* Simple color flag */

.bg-color-1 {
    background-color: #f0c24a
}

/* Simple color flag */

.bg-color-2 {
    background-color: #b5d56a !important;
}

/* Simple color flag */

.bg-color-3 {
    background-color: #ea7066 !important;
}

/* Used in the form to equally space the text fields */

.form-container {
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

/* Used in the buttonForm to center the button */

.form-button-area {
    text-align: center;
    align-content: center;
}