#footer {
    background-color: #e6f1ff;
}

#footer .division {
    text-align: center;
}

#footer .form-control {
    height: 40px;
}

#footer .input-group-addon {
    height: 40px;
    border-radius: 5px;
}

#footer .emailaddress {
    padding-right: 0px;
}

#footer.marked {
    padding-left: 0px;
}

#footer ul {
    text-align: left;
    list-style-position: inside;
}

#footer h4 {
    margin-bottom: 30px;
    margin-top: 30px;
}

#footer a {
    color: #f06e62;
}