body{
	font-family: "Dosis", sans-serif;
}

.header-container {
    padding-left: 5px;
}
.header div{
    padding-left: 0px;
}
.top-header {
	padding: 10px 0;
}

.top-right{
    padding-right: 30px;
}

.top-left{
    padding-left: 30px;
}

.slide{
    
    background: rgba(132, 190, 214, 0.8);
    border-radius: 25px;
}

.stories{
    text-align: center;
}

.btn {
    font-weight: bold;
    font-size: 20px;
    height: 45px;
    width: 120px;
    color:white;
    float:right;
    background-color: #f06e62;
    border-color: #ea7066;
    border-radius: 45px;
    margin: 5px;
  }


.img-son {
    box-shadow: 0px 8px 14px -5px rgba(0, 102, 255, 0.5);
    position: relative;
    margin-top:230px;
    height: 280px;
    border-radius: 25px;
    border: 4px solid #84bed6;
    float: right; 
}

.img-father{
    box-shadow: 0px 8px 14px -5px rgba(0, 102, 255, 0.5);
    position: absolute;
    height: 300px;
    margin-top: 30px;
    border-radius: 25px;
    border: 4px solid #84bed6;
    
}




@media only screen and (min-width: 576px) {
    .img-son{
        margin-right: 120px;
    }  
    .img-father{
        margin-left:120px;
    }
}

@media only screen and (min-width: 768px) {
    .img-son{
        margin-right: 80px;
    } 
    .img-father{
        margin-left:20px;
    }
}

@media only screen and (max-width: 575px) {
    .img-son{
        margin-right: 20px;
    }
    .img-father{
        margin-left:20px;
    }
}

.stories h1{
    color:#84bed6;
    font-weight: bold;
    margin-top: 30px;
    margin-left:30px;
    margin-right:30px;
}

.inspiring h4{
    margin-top: 20px;
}

.description{
    color:#84bed6;
    margin-left: 30px;
    margin-right:30px;
    letter-spacing: 0.6px;
}

.inspiring{
    margin-bottom: 30px;
}

.header{
    text-align: left;
    margin-left: 5px;
    font-size: 35px;
    color:#84bed6;
    font-size: 20px;
}
@media only screen and (min-width: 501px) {
.header .text{
    margin-top: 13px;
}
}
#color{
    color:#f06e62;
}

.readmore{
    color:#f06e62;
}

#mainservices .icon i{
    width: 62px;
    height: 62px;
    line-height: 62px;
    border-radius: 100%;
    border: 2px solid white;
    text-align: center;
    font-size: 22px;
    color: white;
    background-color: #f0c24b;
    display: inline-block;
}

#mainservices span.icon{
    width: 76px;
    height: 76px;
    padding: 6px;
    margin-right: 20px;
    display: inline-block;
    float: left;
    border-radius: 100%;
}
#mainservices h1{
    color: #b5d56a;
    font-weight: bold;
}
#mainservices .service1 span.icon{
    background-color: #f0c24b;
}

#mainservices .service1 .icon i{
    background-color: #f0c24b;
}

#mainservices .service3 span.icon{
    background-color: #a597e7 ;
}

#mainservices .service3 .icon i{
    background-color: #a597e7 ;
}
#mainservices .service2 span.icon{
    background-color: #84bed6 ;
}

#mainservices .service2 .icon i{
    background-color: #84bed6 ;
}

#mainservices h3{
    font-weight: bold;
}
#mainservices .service1 a{
    color: #f0c24b;
}

#mainservices .service3 a{
    color: #a597e7;
}

#mainservices .service2 a{
    color: #84bed6 ;
}

#mainservices .service-info{
    display: table-cell;
}

#mainservices .title{
    text-align: center;
    margin-bottom: 30px;
    
}

#mainservices .service{
    margin-bottom: 10px;
}

#mainservices{
    margin-bottom: 20px;
}

#mainservices a{
    text-decoration: none;
    
}

#mainservices a:hover{
    text-decoration: underline;
}





