body {
    font-family: 'Dosis', sans-serif;
}

.jumbotron#single-location {
    padding: 2rem 1rem;
    text-align: left;
    background-color: #84bed6
}

#middle-jumbo-buttons {
    margin-top: 10px;
}

.text-center img {
    margin-top: 20px;
    width: auto;
    height: auto;
    max-width: 100%;
}

.card {
    border-radius: 45px;
}

.card .card-img-top {
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}

.card .card-header {
    font-family: 'Dosis', sans-serif;
    background-color: #84bed6;
    border-top-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
}

.btn {
    background-color: #f06e62;
    border-color: #ea7066;
    border-radius: 45px;
}

.btn:disabled {
    opacity: 1;
}

.btn-primary:disabled {
    background-color: #f06e62;
    border-color: #ea7066;
}

.rounded {
    border-radius: .5rem !important;
}

.aColoredBold {
    font-weight: bold;
    color: #84bed6;
}

.aColoredBold:hover {
    color: #84bed6;
}

.aColored {
    color: #84bed6;
}

.aColored:hover {
    color: #84bed6;
}

.breadcrumb {
    background-color: white;
}

.breadcrumb .fa {
    margin-left: 10px;
    color: black;
}

.breadcrumb .fa:hover {
    color: #84bed6;
}