/* Changes overall font in the html */

body {
    font-family: 'Dosis', sans-serif !important;
}

/* fixes jumbotron spacing */

.jumbotron {
    background-image: url("../img/location/jumbotron.jpg");
    background-position-y: 20%;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 0px;
}

.fill-width-container {
    padding: 0px;
}

.display-3 {
    font-weight: bold;
    color: #84bed6;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Flag that makes text white */

.text-white {
    color: white;
}

/* Simple flag to make some margin */

.no-margin {
    margin-bottom: 0.1rem;
}

/* Sets font size of the location button */

.btn.btn-primary.location {
    /* margin-top: 5rem; */
    font-size: 1rem;
}

/* Used to position the > sign on the location button */

.btn.btn-primary.location:after {
    padding-top: 0.09rem;
    content: '>';
    float: right;
}

.card {
    border-radius: 45px;
}

.card .card-img-top {
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}

.btn {
    background-color: #84bed6;
    border-color: #84bed6;
    border-radius: 45px;
}

.phoneNumber {
    color: #575756;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
    min-height: 40px;
}

.phoneNumber::before {
    font-size: 20px;
    content: "\f095";
    font-family: FontAwesome;
    padding-right: 0.9rem;
}