
#nav .i-wrapper.info i{
    background-color:#f0c24b;
}
#nav .i-wrapper.pencil i{
    background-color:#ea77ad;
}
#nav .i-wrapper.list i{
    background-color:#b5d56a;
}
#nav .i-wrapper.hospital i{
    background-color:#84bed6;
}
#nav .i-wrapper.calendar i{
    background-color:#a597e7;
}

#nav .i-wrapper i{
    border-radius: 100%;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #e9ecef;
    font-size: 16px;
    display: inline-block;
    color:white;
    
}
#nav .span-wrapper i{
    padding-left: 2px;
}
#nav .i-wrapper i:before{
    line-height: 35px;
}

 @media only screen and (min-width: 768px) {
    #nav .i-wrapper{
    text-align: center;
        padding-bottom: 10px;
}
    #nav .span-wrapper{
    float: left;
    width: 100%;
    border-right: 2px solid #e9ecef;
    padding-right: 12px;
    padding-left: 12px;
    height: 16px;
        margin-bottom: 10px;
}
   #nav li:last-child .span-wrapper {
        border-right: 0px;
    }
   #nav #bootstrap-override .nav-item{
        margin-left: 0px;
        margin-right: 0px;
}
    #nav #bootstrap-override .nav-item a{
        padding-left: 0px;
        padding-right: 0px;
    }
     #nav .nav-item{
         padding-left: 0px;
         padding-right: 0px;
     }
     #nav .nav-link{
         padding-left: 0px;
         padding-right: 0px;
     }
}

@media only screen and (max-width: 767px) {
#nav .i-wrapper{
    float:left;
    padding-right: 15px;
}
    #nav .span-wrapper{
    height:35px;
       line-height: 35px;
        
}
}

#nav .dropdown-toggle::after{
    display: none;
}



