body {
  font-family: "Dosis", sans-serif;
}

.fill-width-container {
  padding: 0px;
}

.jumbotron {
  background-image: url("../img/people/people.jpg");
  background-size: cover;
  border-radius: 0px;
  text-align: center;
}

.card-body {
  font-size: 30px;
}

.card {
  border-radius: 45px;
  padding: 5%;
  margin-bottom: 10%;
}

.card:hover {
  border-width: thin;
  border-radius: 45px;
  padding: 5%;
  margin-bottom: 10%;
  box-shadow: 0px 2px 14px -5px rgba(0, 0, 0, 0.75);
  transition: 0.001ns all;
}

.d001:hover {
  border-color: orangered;
}

.d002:hover {
  border-color: yellow;
}

.d003:hover {
  border-color: blue;
}

.d004:hover {
  border-color: greenyellow;
}

.d005:hover {
  border-color: fuchsia;
}

.d006:hover {
  border-color: cyan;
}

.card-body {
  text-align: center;
  letter-spacing: 1.5px;
  padding-bottom: 1px;
}

i.fa.fa-dot-circle-o {
  color: #f06e62;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-envelope {
  color: #f06e62;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-phone {
  color: #f06e62;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-hospital-o.nonav {
  color: #f06e62;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-map-marker.nonav {
  color: #f06e62;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-facebook {
  background: #fff;
  color: #3b5998;
  border: 1px solid #3b5998;
  margin: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-facebook:hover {
  color: #fff;
  background: #3b5998;
  border: 1px solid #3b5998;
  transition: 1s all;
}

i.fa.fa-twitter {
  background: #fff;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  margin: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-twitter:hover {
  color: #fff;
  background: #1da1f2;
  border: 1px solid #1da1f2;
  transition: 1s all;
}

i.fa.fa-linkedin {
  color: #e68523;
  border: 1px solid #e68523;
  margin: 3px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

i.fa.fa-linkedin:hover {
  color: #fff;
  background: #e68523;
  border: 1px solid #e68523;
  transition: 1s all;
}

p {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

/* grassetto OUR TEAM*/

.display-3 {
  font-weight: bold;
  color: #f0c24b;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.display-3-bis {
  font-weight: bold;
  color: #f0c24b;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.text {
  font-weight: normal;
  font-size: 16px;
}

.breadcrumb {
  background-color: white;
}

mark:hover {
  color: red;
}

.breadcrumb .fa {
  margin-left: 10px;
  color: black;
}

.breadcrumb .fa:hover {
  color: #f0c24b;
}

#person .img-fluid {
  width: 325px;
}

a {
  color: #f0c24b;
  font-weight: bold;
}

a:hover {
  color: #f0c24b;
}

#mailpeople,
#mailperson {
  color: black;
}

#location {
  color: #f0c24b;
}

.col-6.order {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nolink {
  font-weight: normal;
  color: #f0c24b;
}

.navbaritem {
  font-weight: normal;
}