body {
    font-family: "Dosis", sans-serif;
}

select {
    margin-bottom: 4px;
    margin-top: 4px;
}

.sideBar button {
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
}

.breadcrumb {
    background-color: white;
}

.sideBar {
    margin-bottom: 10px;
    border-radius: 30px;
}

#bootstrap-override .card-header {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
    background-color: #b5d56a;
}

.service {
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, .125);
    min-height: 200px;
    margin: inherit;
    margin-bottom: 10px;
}

.service .card-title {
    margin-top: 6px;
    margin-bottom: 6px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.service-img,
.service-img img {
    object-fit: cover;
}

@media only screen and (min-width: 992px) {
    .service-img.order-lg-1,
    .service-img.order-lg-1 img {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left: 0px;
    }
    .service-img.order-lg-2,
    .service-img.order-lg-2 img {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 991px) {
    .service-img,
    .service-img img {
        padding-right: 0px;
        padding-left: 0px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0px;
    }
}

#bootstrap-override .jumbotron {
    background-image: url("../img/service/services.jpg");
    height: 350px;
    background-position: center;
}

.service-link {
    padding-top: 5px;
    color: #b5d56a;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    color: #b5d56a;
}

h1 {
    font-size: 85px;
    text-align: center;
    color: #b5d56a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 0px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #b5d56a;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

.card select:hover {
    background-color: #b5d56a;
}

.card button:hover {
    background-color: #b5d56a;
}

#bootstrap-override .nothing:before {
    display: none;
    height: 0px;
}

#bootstrap-override .nothing {
    display: none;
    height: 0px;
}

#bootstrap-override .breadcrumb .first:before {
    display: none;
}

#bootstrap-override .breadcrumb .fa {
    margin-left: 10px;
    color: black;
}

#bootstrap-override .breadcrumb .fa:hover {
    color: #b5d56a;
}