#service .fake-left::before{
    content: "\f100\f100";
    font-family: FontAwesome;
    padding-right: 20px;
}
#service .fake-right::after{
    content: "\f101\f101";
    font-family: FontAwesome;
    padding-left: 20px;
    
}
#service .fake-right:hover{
    font-weight: bold;
}
#service .fake-left:hover{
    font-weight: bold;
}
#service .slider{
    padding-left: 0px;
    padding-right: 0px;
}

#service .jumbotron{
     background-repeat: no-repeat; background-position: center; background-color: white; line-height: 400px;
    color : white;
}
#service .display-3{
    top: 50%;
    color: #b5d56a ;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#service ul{
    padding-left: 5px;
}
#service li{
    list-style-type: none;
}

#service li::before{
    padding-right: 20px;
    font-family: FontAwesome;
    content: "\f058";
}
#service .row{
    margin-bottom: 30px;
}

#service body{
    font-family: "Dosis", sans-serif;
}

#service a{
    color: #b5d56a ;
    font-weight: bold;
}



#service a:hover{
    color: #b5d56a ;
}

#service p , #service li{
    font-size: 20px;
}

.breadcrumb{
  background-color: white;
}

#service .btn{
    background-color: #b5d56a ;
    border-color: #b5d56a ;
}

#service a.btn{
    color: white;
}
