body {
    font-family: "Dosis", sans-serif;
}

.jumbotron {
    background-image: url("../img/who-we-are/jumbotron.jpg");
    background-position-y: 20%;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 0px;
}

.display-3 {
    font-weight: bold;
    color: #f0c24b;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fill-width-container {
    padding: 0px;
}

.bg-color-1 {
    background-color: #ea7066 !important;
}

.bg-color-2 {
    background-color: coral !important;
}

.bg-color-3 {
    background-color: tomato !important;
}

.bg-color-4 {
    background-color: blueviolet !important;
}

.media:first-child {
    margin-top: 0;
}

.media,
.media-body {
    zoom: 1;
}

.media-body {
    width: 10000px;
}

.media-body,
.media-left {
    display: table-cell;
    vertical-align: top;
}

.media-body .media-heading {
    font-family: dosis, sans-serif;
    font-size: 28px;
    color: #ea7066;
    margin: 0 0 25px;
    text-transform: capitalize
}

.media-body h3.media-heading {
    font-size: 24px;
    line-height: 30px;
    font-family: dosis, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

/* Counter with the fixed background image */

.countUpSection {
    margin-bottom: -17px;
    background-image: url(../img/who-we-are/counter-image.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center !important;
    background-attachment: fixed;
    color: #fff;
    padding: 80px 0
}

/* Actual single counter (circle) */

.countUpSection .counter {
    width: 145px;
    height: 145px;
    line-height: 145px;
    display: inline-block;
    border-radius: 100%;
    border: 4px solid #fff
}

@media(min-width:320px) {
    .countUpSection .counter {
        font-size: 32px;
        display: block;
        margin: 0 auto 25px
    }
}

@media(min-width:768px) {
    .countUpSection .counter {
        font-size: 52px;
        display: inline-block;
        margin: 0 0 25px
    }
}

.countUpSection .counterInfo {
    line-height: 40px;
    height: 40px;
    border: 0;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    background-color: #ea7066;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: 600;
    width: 129px;
    display: inline-block
}

@media(min-width:320px) {
    .countUpSection .counterInfo {
        font-size: 13px
    }
}

@media(min-width:768px) {
    .countUpSection .counterInfo {
        font-size: 15px
    }
}

@media(min-width:320px) {
    .countUpSection .text-center {
        margin-bottom: 30px
    }
}

@media(min-width:768px) {
    .countUpSection .text-center {
        margin-bottom: 0
    }
}

@media(min-width:320px) {
    .countUpSection .text-center {
        margin-bottom: 30px
    }
}

@media(min-width:768px) {
    .countUpSection .text-center {
        margin-bottom: 0
    }
}

/* Spaziamento */

.featuresContent {
    margin-bottom: 40px
}

/* Cerchio dei 6 media */

.featuresContent .media-left {
    width: 76px;
    height: 76px;
    padding: 6px;
    margin-right: 20px;
    display: inline-block;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    border-radius: 100%
}

/* Icona dei 6 media */

.featuresContent .media-left i {
    width: 62px;
    height: 62px;
    line-height: 62px;
    border-radius: 100%;
    border: 2px solid #fff;
    text-align: center;
    font-size: 22px;
    color: #fff;
    transition: all .3s ease-in-out
}

.featuresContent .media-left:hover i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

.media-body .media-heading {
    font-family: open sans, sans-serif;
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
    text-overflow: none;
    white-space: normal;
    overflow: hidden
}

.sectionTitleSmall {
    margin-bottom: 40px
}

.sectionTitleSmall h2 {
    text-align: center;
    font-family: dosis, sans-serif;
    text-transform: capitalize;
    margin: 0 0 12px;
    color: #fff
}

.sectionTitleSmall p {
    color: #fff;
    text-align: center;
    font-size: 15px
}

.sectionTitle #bold {
    color: #b5d56a;
    font-weight: bold;
}

#rounded {
    border-radius: 50px;
}