<div id="footer" class="container-fluid mt-3">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 division mt-3 mb-3">
            <img id="logo" src="../assets/img/logo.png" style=' width: 50%; object-fit: contain;'>
            <div class="container">
                <span>'We are professional in helping kids and young adults with different kinds of disabilities'.</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 division pt-4">
            <h4> Social Media</h4>
            <ul>
                <li>Facebook:
                    <a href="#" target="_blank"> TMH</a>
                </li>
                <li>Instagram:
                    <a href="#" target="_blank"> TMH</a>
                </li>
                <li>Twitter:
                    <a href="#" target="_blank"> TMH</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 division pt-4">
            <h4> Mailing List</h4>
            <h6>Sign up for our mailing list to get the latest updates and offers.</h6>
            <div class="input group">
                <input type="text" class="form-control" placeholder="Email address">
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 division pt-4">
            <h4>Most useful links</h4>
            <ul>
                <li>Who We Are:
                    <a href="who-we-are.html" target="_blank"> go >> </a>
                </li>
                <li>Team:
                    <a href="people.html?id=all" target="_blank"> go >> </a>
                </li>
                <li>Contact Us:
                    <a href="contact-us.html" target="_blank"> go >> </a>
                </li>
            </ul>
        </div>
    </div>
</div>