<nav id="nav" class="navbar navbar-expand-md navbar-light sticky-top">
    <span style="width: 30%">
        <a href="../index.html">
            <img src="assets/img/nav-logo.png" style="width: 55%">
            </img>
        </a>
    </span>
    <button class="navbar-toggler float-right" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav navbar-right ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown-target" href="#">
                    <div class="i-wrapper info">
                        <i class="fa fa-info"> </i>
                    </div>
                    <div class="span-wrapper">
                        <span>About Us</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelldby="dropdown_target">
                    <a class="dropdown-item" href="pages/people.html?id=all">Our team </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">News </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pages/who-we-are.html">Who we are </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pages/contact-us.html">Contact us </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">FAQ </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown-target" href="#">
                    <div class="i-wrapper pencil">
                        <i class="fa fa-pencil"> </i>
                    </div>
                    <div class="span-wrapper">
                        <span>Get Involved</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelldby="dropdown_target">
                    <a class="dropdown-item">Volunteering </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Job oppurtinities </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="pages/services.html?id=all">
                    <div class="i-wrapper list">
                        <i class="fa fa-list-ul"> </i>
                    </div>
                    <div class="span-wrapper">
                        <span>Services</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/locations.html?id=all">
                    <div class="i-wrapper hospital">
                        <i class="fa fa-hospital-o"> </i>
                    </div>
                    <div class="span-wrapper">
                        <span>Locations</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <div class="i-wrapper calendar">
                        <i class="fa fa-calendar"> </i>
                    </div>
                    <div class="span-wrapper">
                        <span>Events</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>