<!DOCTYPE html>
<html lang="en">

<head>
    <title>Service</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- DOSIS FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="../assets/node_modules/font-awesome/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/locations.css">
    <link rel="stylesheet" href="../assets/css/service.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>

<body ng-App="service" ng-controller="serviceController as serviceCtrl">
    <div ng-include="'navbar.html'"></div>

    <!--MAIN CONTAINER, PADDING TOP 3-->
    <div id="service" class="container-fluid fill-width-container">
        <div class="jumbotron" style="background-image: url('../assets/img/service/service-{{URL}}.jpg')">
            <div class="container text-area" id="jumbotron-text-container">
                <h1 class="display-3" align="center">{{service[0].title}}</h1>
            </div>
        </div>

        <!--CARDS CONTAINER, NOT FLUID-->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Our expert care supports our service users to continue to live independently in the familiar surroundings
                        of their own homes.</h2>
                    <p>
                        {{service[0].preview}}
                    </p>
                    <p>
                        <a href="people.html?id={{URL}}">Click here to know who is involved in this service.</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>What’s Included:</h3>
                    <ul class="tick-list">
                        <li>Full personalised assessment of your care needs</li>
                        <li>Individual care plan delivered by our highly trained staff</li>
                        <li>Full programme of events and activities</li>
                        <li>Nutritious, delicious and freshly prepared meals by our chef</li>
                    </ul>

                </div>
                <div class="col-md-6">
                    <h3>How Much Does it Cost?</h3>
                    <p>Once we complete a personalised assessment of your needs, we will be able to let you know precisely how
                        much your respite stay will cost including any special offers.*</p>

                </div>

            </div>
            <!--3 CARDS PER ROW AND MARGIN TOP 4, OCCUPY A SINGLE CARD PER ROW WHEN ON SMALL SCREENS-->

            <div class="row">
                <div class="col-2 col-md-4 col-lg-5">
                    <a ng-click="left()">
                        <h3 class="fake-left" align="right"></h3>
                    </a>
                </div>
                <div class="slider col-8 col-md-4 col-lg-2">
                    <h3 align="center">AVAILABLE AT</h3>
                </div>
                <div class="col-2 col-md-4 col-lg-5">
                    <a ng-click="right()">
                        <h3 class="fake-right" align="left"></h3>
                    </a>
                </div>


                <div class="col-sm-12 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <img class="card-img-top" src="../assets/img/location/house-{{locations[pos%locations.length].id}}.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h4 class="card-title no-margin text-left">{{locations[pos%locations.length].name}}</h4>
                            <h5 class="card-title text-left">{{locations[pos%locations.length].address}}</h5>
                            <p class="card-text text-left phoneNumber">{{locations[pos%locations.length].phone}}</p>
                            <a href="location.html?id={{locations[(pos)%locations.length].id}}&s={{URL}}" class="btn btn-primary location btn-lg btn-block text-left">
                                View care home
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-4 d-none d-md-block">
                    <div class="card">
                        <img class="card-img-top" src="../assets/img/location/house-{{locations[(pos+1)%locations.length].id}}.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h4 class="card-title no-margin text-left">{{locations[(pos+1)%locations.length].name}}</h4>
                            <h5 class="card-title text-left">{{locations[(pos+1)%locations.length].address}}</h5>
                            <p class="card-text text-left phoneNumber">{{locations[(pos+1)%locations.length].phone}}</p>
                            <a href="location.html?id={{locations[(pos+1)%locations.length].id}}&s={{URL}}" class="btn btn-primary location btn-lg btn-block text-left">
                                View care home
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-4 d-none d-lg-block">
                    <div class="card">
                        <img class="card-img-top" src="../assets/img/location/house-{{locations[(pos+2)%locations.length].id}}.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h4 class="card-title no-margin text-left">{{locations[(pos+2)%locations.length].name}}</h4>
                            <h5 class="card-title text-left">{{locations[(pos+2)%locations.length].address}}</h5>
                            <p class="card-text text-left phoneNumber">{{locations[(pos+2)%locations.length].phone}}</p>
                            <a href="location.html?id={{locations[(pos+2)%locations.length].id}}&s={{URL}}" class="btn btn-primary location btn-lg btn-block text-left">
                                View care home
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-include="'footer.html'"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../assets/js/service.js"></script>


</body>

</html>