<!DOCTYPE html>
<html lang="en">

<head>
    <title>Services</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- DOSIS FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">

    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="../assets/node_modules/font-awesome/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/services.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/footer.css">

</head>

<body id="bootstrap-override" ng-App="services" ng-controller="servicesController as servicesCtrl">
    <div ng-include="'navbar.html'"></div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>SERVICES</h1>
            <h2>{{locationTitle}}</h2>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">{{breadcrumb1}}</li>
            <li class="breadcrumb-item" ng-class="{'nothing': none1}">{{breadcrumb3}}</li>
            <li class="breadcrumb-item active" aria-current="page" ng-class="{'nothing': none}">{{breadcrumb2}}</li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="card sideBar">
                        <div class="card-header">
                            <h3 class="card-title align-middle mb-0">Filter By</h3>
                        </div>
                        <div class="card-body">
                            <select class="form-control" ng-model="selected" ng-options="location as location.name for location in locations" ng-change="selectLocation(selected)">
                              <option disabled selected value style="display:none"> Location </option>
                            </select>
                            <select class="form-control">
                                <option disabled selected value style="display:none"> Age </option>
                            </select>
                            <select class="form-control">
                                <option disabled selected value style="display:none"> Disability </option>
                            </select>
                            <button type="button" class="btn btn-outline-secondary" ng-click="reset()">All locations</button>
                        </div>
                    </div>
                    <div class="card sideBar">
                        <div class="card-header">
                            <h3 class="card-title align-middle mb-0">Order By</h3>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-dark">Location</button>
                            <button type="button" class="btn btn-outline-dark">Age</button>
                            <button type="button" class="btn btn-outline-dark">Disability</button>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="service row" ng-repeat="service in servicesByChoice()">
                    <div class="col-lg-4 order-lg-{{1+$index%2}} service-img">
                        <img src="../assets/img/service/service-{{service.id}}.jpg" class="w-100 h-100">
                    </div>
                    <div class="col-lg-8 order-lg-{{1-$index%2+1}} service-txt">
                        <h4 class="card-title">
                            <a class="service-link" href="service.html?id={{service.id}}">{{service.title}} </a>
                        </h4>
                        <p class="card-text">{{service.preview}} </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div ng-include="'footer.html'"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../assets/js/services.js"></script>
</body>

</html>